body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: arial;
}
.title {
    font-size: 32px;
    font-weight: bold;
}
.object {
    background-color: transparent;
    border: 3px solid white;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-right: 10px;
    cursor: pointer;
}
.object-img {
    height: 50px;
}
.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 50px;
}
.score {
    margin-top: 60px;
}
.reset {
    background-color: white;
    border: none;
    font-size: 15px;
    padding: 8px 15px;
    cursor: pointer;
}