<style>
        .mail {
            font-weight: bold;
            font-family: arial;
            margin-top: 0;
            margin-bottom: 10px;
        }
        .m {
            color: grey;
            font-family: arial;
            margin-top: 0;
            margin-bottom: 10px;
        }
        .note {
            width: 500px;
            font-family: arial;
            margin-top: 0;
            margin-bottom: 10px;
        }
        .last {
            font-family: arial;
            margin-top: 0;
            margin-bottom: 10px;
        }
        .chp {
            font-family: arial;
            margin-top: 0;
            margin-bottom: 10px;
            color: blue;
        }
</style>